*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background: rgb(9,129,74);
    background: linear-gradient(54deg, rgba(9,129,74,1) 0%, rgba(50,50,50,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-transform: uppercase;
    font-family: 'poppins';
    color: white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

@font-face {
    font-family: myFirstFont;
    src: url(fonts/Hi\ Christmas\ -\ Personal\ Use.otf);
  }

@font-face {
    font-family: christMas;
    src: url(/fonts/Playful\ Christmas-Personal\ Use.otf);
  }

/* Snowfall */
.winter-is-coming, .snow {
    z-index: 100;
    pointer-events: none;
}
.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 800px;
    width: 100%;
    background: transparent
}
.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
}
.snow--near {
    animation-duration: 10s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
    background-size: contain;
}
.snow--near + .snow--alt {
    animation-delay: 5s;
}
.snow--mid {
    animation-duration: 20s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
    background-size: contain;
}
.snow--mid + .snow--alt {
    animation-delay: 10s;
}
.snow--far {
    animation-duration: 30s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
    background-size: contain;
}
.snow--far + .snow--alt {
    animation-delay: 15s;
}
@keyframes falling {
    0% {
        transform: translate3D(-7.5%, -100%, 0);
   }
    100% {
        transform: translate3D(7.5%, 100%, 0);
   }
}


/* presets knapper*/
.presets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 60px;
    
}
.presets-btn {
    background-color: transparent;
    width: 100px;
    height: 35px;
    font-size: 8px;
    font-weight: bold;
    border: 2px solid white;
    letter-spacing: 2px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.presets-btn:disabled {
    pointer-events: none;
}
      
.presets-btn:hover {
    background-color: #BC4749;
    box-shadow: #BC4749 0 8px 15px;
    transform: translateY(-2px);
}

.presets-btn:active {
box-shadow: none;
transform: translateY(0);
}

/* .hovedretter-div {

} */

.retter-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
}

.optionknapper {
    background: transparent;
    margin: 5%;
    /* border: 2px solid white; */
    cursor: pointer;
    color: white;
    font-family: 'poppins';
    letter-spacing: 2px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    transition: color .0s ease-in-out, box-shadow .5s ease-in-out;
}

.optionknapper:hover {
    color: #BC4749
}


/* D3 styling */
.axis-element, .x-axis-text, .y-axis-text {
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.x-axis-text {
    font-size: 15px;
}

#bar {
    opacity: 25%;
}

#bar:hover {
    fill: #BC4749 ;
    opacity: 100%;
}


/* General styling */
.hero {
    width: 650px;
}

#hero__content {
    height: 100%;
}

.overskrift {
    font-size: 30px;
    letter-spacing: 2px;
    opacity: 100%;
    color: white;
}
.underoverskrift {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}

.grid-1 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    height: 100%;
    margin: 5px;
}

.grid1-item-1 {
    padding-top: 20px;
    padding-left: 30px;
    height: 100%;
}

.grid1-item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    border: 2px dotted rgb(0, 21, 255);
}

.grid-2 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    height: 100%;
    margin: 5px
}

.section-2 {
    height: 1000px;
}

.grid2-item-1 {
    height: 100%;
    border: 2px dotted red;
}

.grid2-item-2 {
    height: 100%;
    border: 2px dotted red;
}

.option-text {
    padding-bottom: 20px;
}

.option-h1 {
    font-size: 15px;
    padding-bottom: 35px;
}

.option-p {
    font-size: 15px;
}