*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background: rgb(9,129,74);
    background: linear-gradient(54deg, rgba(9,129,74,1) 0%, rgba(50,50,50,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins';
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    opacity: 100%;
    color: white;
    font-family: 'Libre Baskerville';
}

h2 {
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Libre Baskerville';
}

h3 {
   font-family: 'Poppins';
   font-size: 15px;
   letter-spacing: 1px;
}

p {
    font-family: 'Poppins';
}

/* Snowfall */
.winter-is-coming, .snow {
    z-index: 100;
    pointer-events: none;
}
.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 750px;
    width: 100%;
    background: transparent
}
.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
}
.snow--near {
    animation-duration: 10s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
    background-size: contain;
}
.snow--near + .snow--alt {
    animation-delay: 5s;
}
.snow--mid {
    animation-duration: 20s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
    background-size: contain;
}
.snow--mid + .snow--alt {
    animation-delay: 10s;
}
.snow--far {
    animation-duration: 30s;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
    background-size: contain;
}
.snow--far + .snow--alt {
    animation-delay: 15s;
}
@keyframes falling {
    0% {
        transform: translate3D(-7.5%, -100%, 0);
   }
    100% {
        transform: translate3D(7.5%, 100%, 0);
   }
}


/* presets knapper*/
.presets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 30px;
    
}
.presets-btn {
    background-color: transparent;
    width: 100px;
    height: 35px;
    font-size: 8px;
    font-weight: bold;
    border: 2px solid white;
    letter-spacing: 2px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins';
}
      
.presets-btn:hover {
    background-color: #BC4749;
    box-shadow: #BC4749 0 8px 15px;
    transform: translateY(-2px);
    font-family: 'Poppins';
}

/* .hovedretter-div {

} */

.option-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.retter-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

.optionknapper {
    width: 100px;
    height: 30px;
  align-items: center;
  background-color: #BC4749;
  opacity: 60%;
  border-radius: 5px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Poppins';
}

.clicked {
    opacity: 100%;
    font-family: 'Poppins';
}

.optionknapper:hover {
  box-shadow: #BC4749 0 0 0 3px, transparent 0 0 0 0;
  font-family: 'Poppins';
}



/* D3 styling */
.axis-element, .x-axis-text, .y-axis-text {
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.x-axis-text {
    font-size: 15px;
}

#bar {
    opacity: 25%;
}

#bar:hover {
    fill: #BC4749 ;
    opacity: 100%;
    cursor: pointer;
}


/* General styling */
.hero {
    width: 650px;
}

#hero__content {
    height: 100%;
}


.grid-1 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    height: 100%;
    margin: 5px;
}

.grid1-item-1 {
    padding-top: 20px;
    padding-left: 30px;
    height: 100%;
}

.grid1-item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
    margin: 5px
}

.grid2-item-1 {
    height: 100%;
}

.totalco2 {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    text-align: left;
    padding-top: 20px;
}

.totalco2container {
    padding-left: 50px;
    height: 100.5px;
}

.totaltco2-text {
    font-size: 35px;
}

.grid2-item-2 {
    height: 100%;
}

.option-text {
    padding-bottom: 20px;
}


.option-h1 {
    padding-bottom: 40px;
}

.facts {
    background-color: #edc79bb8;
    padding-left: 50px;
    height: 100%
    
}

.fact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.information {
    background-color: #edc79bb8;
    height: 400px;
    text-align: center;
    height: 100%;
}

.skubbe {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    text-align: left;
    padding-top: 20px;
    height: 120.5px;
}

.information-p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kilder {
    display: flex;
    flex-direction: column;
}